.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  /* centra verticalmente */
  background-color: var(--color-dark-bg);
  color: var(--color-text-dark);
  height: 60vh;
}

/* Ajustes para el modo claro */
body.light .hero {
  background-color: var(--color-light-bg);
  color: var(--color-text-light);
}

.content {
  text-align: justify;
  width: 80%;
  max-width: 800px;
}

.hero-title {
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--color-primary-dark);
  font-weight: bold;
}

/* Ajustes para el modo claro */
body.light .hero-title {
  color: var(--color-primary-light);
}

.hero-subtitle {
  margin: 0;
  font-size: 3rem;
  font-family: 'Noe Display', Georgia, Times, serif;
  margin-bottom: 1rem;
}

.hero-p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-align: justify;
  line-height: 1.6;
}

/* Ajustes para el modo claro */
body.light .hero-p {
  color: var(--color-text-light);
}

/* Hero button styles */
.hero-button {
  padding: 0.8rem 1.5rem;
  background-color: var(--color-primary-dark);
  color: var(--color-text-light);
  border-radius: 8px;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 223, 154, 0.3);
}

/* Ajustes para el modo claro */
body.light .hero-button {
  background-color: var(--color-primary-light);
}
body.light .hero-button:hover{
  background-color: var(--color-primary-light-hover);
}

/* Hover state for the button */
.hero-button:hover {
  background-color: var(--color-primary-dark-hover);
}

/* Responsiveness */

@media (max-width: 905px) {
  .content {
    margin: 15px;
    width: 90%;
    padding-top: 8rem;
  }

  .content h2 {
    text-align: start;
  }
}

@media (max-width: 590px) {
  .hero {
    padding-top: 7rem;
    padding-bottom: 9rem;
  }

  .content h2 {
    text-align: center;
  }

  .content {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .hero-subtitle {
    font-size: 2rem;
  }

  .hero-title {
    font-size: 1rem;
  }

  .hero-p {
    font-size: 1rem;
    text-align: justify;
    margin-bottom: 4rem;
  }
}
