/* src/components/CustomCursor.css */
.custom-cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #00df9a; /* Puedes cambiar el color aquí */
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
    transition: transform 0.2s ease, background-color 0.3s ease;
  }
  
  /* Efecto cuando se pasa sobre un elemento */
  button:hover .custom-cursor {
    background-color: #ff5722; /* Cambia el color al pasar sobre un botón */
    transform: translate(-50%, -50%) scale(1.5); /* Aumenta el tamaño */
  }
  
  /* También puedes agregar más efectos de hover para diferentes elementos */
  