/* Estilo base del footer */
.footer {
  padding: 2rem;
  text-align: center;
  position: relative;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.2); /* Sombra hacia arriba */
}

/* Modo Oscuro */
.footer.dark {
  background-color: var(--color-footer-dark-bg);
  color: var(--color-footer-text-dark);
}

/* Modo Claro */
.footer.light {
  background-color: var(--color-footer-light-bg);
  color: var(--color-footer-text-light);
}

/* Estilo de los iconos en ambos modos */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.social-icons a {
  color: inherit; /* Cambiar color según el tema */
  transition: color 0.3s ease;
}

/* Hover de los iconos */
.social-icons a:hover {
  color: var(--color-footer-icon);
}

/* Estilo para el botón de volver arriba */
.scroll-top-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: inherit; /* Cambiar color según el tema */
  font-size: 1.5rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

/* Hover para el botón */
.scroll-top-btn:hover {
  transform: translateY(-5px);
  color: var(--color-footer-icon);
}

/* Estilo de los iconos en modo claro */
.footer.light .social-icons a {
  color: var(--color-footer-text-light); /* Cambiar color de los iconos en modo claro */
}

/* Hover de los iconos en modo claro */
.footer.light .social-icons a:hover {
  color: var(--color-footer-icon);
}

/* Estilo para el botón de volver arriba en modo claro */
.footer.light .scroll-top-btn {
  color: var(--color-footer-text-light); /* Color para el botón en modo claro */
}
