/* General */
.proyectos {
  padding: 4rem 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Título */
.proyectos-title {
  font-family: Noe Display, Georgia, Times, serif;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--color-primary-dark);
}

/* Modo Oscuro */
.proyectos.dark {
  background-color: var(--color-dark-bg);
  color: var(--color-text-dark);
}

.proyectos.dark .proyectos-title {
  color: var(--color-text-dark);
}

/* Modo Claro */
.proyectos.light {
  background-color: var(--color-light-bg);
  color: var(--color-text-light);
}

.proyectos.light .proyectos-title {
  color: var(--color-text-light);
}

/* Grid de proyectos */
.proyectos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2.5rem;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Cards */
.proyecto-card.dark,
.proyecto-card.light {
  padding: 2rem;
  border-radius: 18px;
  box-shadow: 0 8px 25px rgba(0, 223, 154, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
  border: 1px solid;
}

.proyecto-card.dark {
  background: linear-gradient(145deg, #1e1e1e, #121212);
  border-color: #1f1f1f;
  color: var(--color-primary-dark);
}

.proyecto-card.light {
  background: linear-gradient(145deg, #ffffff, #e0e0e0);
  border-color: #d1d1d1;
  color: var(--color-primary-light);
}

.proyecto-card:hover {
  transform: translateY(-10px) scale(1.01);
  box-shadow: 0 12px 35px rgba(0, 223, 154, 0.2);
}

.proyecto-card h3 {
  margin-top: 0;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.proyecto-card p {
  margin: 0.5rem 0 1rem;
  line-height: 1.5;
  font-size: 1rem;
}

.proyectos.dark .proyecto-card p {
  color: var(--color-text-dark);
}

.proyectos.light .proyecto-card p {
  color: var(--color-text-light);
}

/* Tecnologías */
.tecnologias {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
  cursor: context-menu;
}

.tech-tag {
  background-color: var(--color-border-dark);
  padding: 0.4rem 0.8rem;
  border-radius: 8px;
  font-size: 0.8rem;
  color: var(--color-text-dark);
  transition: background-color 0.2s;
}

.proyectos.light .tech-tag {
  background-color: var(--color-border-light);
  color: var(--color-text-light);
}

.proyectos.dark .tech-tag {
  background-color: var(--color-border-dark);
  color: var(--color-text-light);
}

.proyectos.dark .tech-tag:hover {
  background-color: var(--color-primary-dark);
}

.proyectos.light .tech-tag:hover {
  background-color: var(--color-primary-dark);
  color: var(--color-light-bg);
}

.tech-tag:hover {
  background-color: var(--color-primary-dark);
  color: var(--color-light-bg);
}

/* Imagen de los proyectos */
.proyecto-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 12px;
  margin-top: 1rem;
  box-shadow: 0 0 15px rgba(0, 223, 154, 0.15);
  display: block;
  transition: transform 0.3s ease-in-out;
}

.proyecto-img:hover {
  transform: scale(1.05);
}

/* Link "Ver más" */
.ver-mas {
  display: inline-block;
  margin-top: 1.5rem;
  color: var(--color-text-light);
  font-weight: 600;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.2s;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  text-align: center;
}

.ver-mas:hover {
  background-color: var(--color-primary-dark);
  color: var(--color-light-bg);
}

/* Carrusel y vista móvil */
.carousel .slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.proyecto-card.dark .ver-mas {
  color: var(--color-text-dark);
}

.proyecto-card.dark .ver-mas:hover {
  color: var(--color-text-light);
}

.carousel {
  max-width: 100%;
  margin-top: 1rem;
  border-radius: 12px;
  overflow: hidden;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  overflow: hidden;
}

.modal-overlay.dark {
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-overlay.light {
  background-color: rgba(255, 255, 255, 0.9);
}

.modal-content {
  position: relative;
  background: var(--color-light-bg); 
  padding: 20px; 
  display: flex;
  flex-direction: column;
  max-width: 800px; 
  max-height: 90vh; 
  overflow-y: auto; 
  border-radius: 12px; 
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); 
}

.modal-overlay.dark .ver-mas {
  color: var(--color-text-light);
  background-color: var(--color-primary-dark);
  transition: all .3s ease;
}

.modal-overlay.dark .ver-mas:hover {
  color: var(--color-text-light);
  background-color: var(--color-primary-dark-hover);
}

.modal-overlay.light .ver-mas {
  color: var(--color-text-light);
  background-color: var(--color-primary-light);
  transition: all .3s ease;
}

.modal-overlay.light .ver-mas:hover {
  color: var(--color-text-dark);
  background-color: var(--color-primary-light-hover);
}

.modal-overlay.dark .modal-content {
  background-color: var(--color-dark-bg);
  color: var(--color-text-dark);
}

.modal-overlay.light .modal-content {
  background-color: var(--color-light-bg);
  color: var(--color-text-light);
}

/* Imágenes dentro del modal */
.modal-content img {
  max-width: 100%;
  max-height: 400px;
  object-fit: contain;
  border-radius: 10px;
  margin: 1rem 0;
  box-shadow: 0 0 10px rgba(0, 223, 154, 0.3);
}

/* Botón de cierre */
.btn-close-modal {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-overlay.dark .btn-close-modal {
  color: var(--color-text-dark);
  transition: all .3s ease;
}

.modal-overlay.dark .btn-close-modal:hover {
  color: rgb(255, 71, 71);
}

.modal-overlay.light .btn-close-modal {
  transition: all .3s ease;
  color: var(--color-text-light);
}

.modal-overlay.light .btn-close-modal:hover {
  color: rgb(255, 71, 71);
}

/* Botón "Ver Detalles" actualizado */
.btn-open-modal {
  background-color: var(--color-primary-dark);
  color: var(--color-text-light);
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 1rem;
  align-self: flex-end;
  box-shadow: 0 5px 20px rgba(0, 223, 154, 0.2);
}

.proyecto-card.light .btn-open-modal{
  background-color: var(--color-primary-light);
}

.btn-open-modal:hover {
  background-color: var(--color-primary-dark-hover);
  transform: scale(1.05);
  box-shadow: 0 8px 25px rgba(0, 223, 154, 0.25);
}
