:root {
  --color-primary-dark: #1dbf73;             /* Verde moderno tipo Tailwind */
  --color-primary-dark-hover: #17a864;
  --color-primary-light: #20d77c;
  --color-primary-light-hover: #1abe6d;

  --color-success: #28c76f;                  /* Se mantiene */
  --color-success-text: #ffffff;

  /* Dark Theme */
  --color-dark-bg: #12204452;
  --color-text-dark: #f0f0f0;
  --color-border-dark: #ccc;
  --color-card-dark: #212f4f;

/* Light Theme */
  --color-light-bg: #f5f5f5;
  --color-text-light: #000;
  --color-border-light: #aaa;

  /* Variables para el footer */
  --color-footer-dark-bg: #050a15;
  --color-footer-light-bg: #f5f5f5;
  --color-footer-text-dark: #f0f0f0;
  --color-footer-text-light: #000;
  --color-footer-icon: #00df9a;

  /* Loader */
  --loader-bg: #f5f5f5;
  --loader-color: #1f1f1f;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: montserrat;
  color: var(--color-text-dark); 
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

/* Modo Claro */
body.light {
  background-color: var(--color-light-bg); 
  color: var(--color-text-light); 
}

/* Modo Oscuro */
body.dark {
  --loader-bg: var(--color-dark-bg); 
  --loader-color: var(--color-primary-dark); 
  background-color: #121212; 
  color: var(--color-text-dark); 
}
