body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #0d0d0d; /* Fondo negro */
  color: #f0f0f0; /* Texto claro */
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
}
